/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/services/ai-analytics/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.services-detail{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.service-detail-left{
    width: 50%;
}
.service-detail-right img{
    /* width: 50%; */
    width: 500px;
    height: 300px;
    object-fit: cover;
}
